/* Web's BaseFrame*/
*{
	margin: 0px;
}

body{
	font-family: "Microsoft YaHei";
}

a{
	text-decoration: none;
	font-weight: bold;
	font-size: 28px;
	color: white;
}

.bodyBlank{
	height: 1px;
}

.bodyCenter{
	width: 960px;
	height: 1050px;
}

.navItem{
	float: left;
	line-height: 50px;
}

#navSection1,
#navSection2{
	height: 50px;
}

#navSection1{
	background-color: black;
}

#navSection2{
	border-style: solid;
	border-width: 1px
}

#navLogo{
	width: 100px;
	height: 50px;
}

#logoImg{
	margin-top: 6px;
}

#navWebName{
	width: 112px;
	height: 50px;
}

#navLogin{
	position: relative;
	left: 588px;
	width: 56px;
	height: 50px;
}

#navRegister{
	position: relative;
	left: 612px;
	width: 56px;
	height: 50px;
}


.clear{
	clear: both;
}

#navHome{
	width: 100px;
	height: 50px;
}

#navChat{
	position: relative;
	left: 30px;
	width: 82px;
	height: 50px;
}

.navS2A{
	width: 80px;
	height: 40px;
	margin-top: 5px;
	line-height: 40px;
	background-color: black;
	border-radius: 10px;
}

#navSearchText{
	position: relative;
	left: 70px;
	width: 620px;
	height: 50px;
}

#inputSearch{
	margin-top: 8px;
	width: 620px;
	height: 30px;
	font-weight: bold;
	font-size: 20px;
}

#navSearchIcon{
	position: relative;
	left: 85px;
	width: 46px;
	height: 50px;
}

/* Chat Section */
.section{
	height: 900px;
	border-style: solid;
	border-width: 1px;
}

.footer{
	height: 50px;
	background-color: black;
	color: white;
	font-size: 16px;
	line-height: 50px;
}

#hotTopicBox{
	height: 80px;
	position: relative;
	top: 60px;
}

.topicBoxItem{
	width: 50px;
	height: 80px;
	float: left;
	position: relative;
}

.topicWord{
	font-weight: bold;
	font-size: 20px;
}

.topicImg{
	width: 50px;
	height: 50px;
	float: left;
	box-shadow: 5px 5px 5px #888888;
}

.topicTitle{
	width: 50px;
	font-size: 16px;
	float: left;
	position: relative;
	top: 9px;
}

#more{
	color: black;
	font-size: 20px;
}

#boxItem1{
	left: 10px;
}

#boxItem2{
	left: 60px;
}

#boxItem3{
	left: 120px;
}

#boxItem4{
	left: 180px;
}

#boxItem5{
	left: 240px;
}

#boxItem6{
	left: 300px;
}

#boxItem7{
	left: 360px;
}

#boxItem8{
	left: 420px;
}

#boxItem9{
	left: 480px;
}

#newArticleBtn{
	text-decoration: none;
	display: block;
	width: 100px;
	height: 30px;
	position: relative;
	top: 80px;
	left: 400px;
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color: #0000CC;
	line-height: 30px;
	border-radius: 10px;
}

#hotArticleList{
/*	height: 730px;*/
	border-style: solid;
	border-width: 1px;
	position: relative;
	top: 100px;
}

#listWord{
	height: 30px;
	border-style: solid;
	border-width: 1px;
	font-weight: bold;
	font-size: 20px;
}

/*#listNave{
	height: 40px;
	border-style: solid;
	border-width: 1px;
}*/

#listNav{
	font-size: 18px;
}

/*.listItem{
	height: 30px;
	border-style: solid;
	border-width: 1px;
	font-weight: bold;
	font-size: 13px;
}*/

.listItem{
	text-decoration: none;
	height: 30px;
	border-style: solid;
	border-width: 1px;
	font-weight: bold;
	font-size: 13px;
	color: black;
	display: block;
}

.itemNav1,
.itemNav2,
.itemNav3{
	float:left;
	position: relative;
	line-height: 30px;
}

.itemNav1{
	width: 40px;
	height: 30px;
}

.itemNav2{
	width: 80px;
	height: 30px;
	left: 400px;
}

.itemNav3{
	width: 85px;
	height: 30px;
	left: 735px;
}

