/* Web's BaseFrame*/
*{
	margin: 0px;
}

body{
	font-family: "Microsoft YaHei";
}

a{
	text-decoration: none;
	font-weight: bold;
	font-size: 28px;
	color: white;
}

.bodyBlank{
	height: 1px;
}

.bodyCenter{
	width: 960px;
	height: 1050px;
}

.navItem{
	float: left;
	line-height: 50px;
}

#navSection1,
#navSection2{
	height: 50px;
}

#navSection1{
	background-color: black;
}

#navSection2{
	border-style: solid;
	border-width: 1px
}

#navLogo{
	width: 100px;
	height: 50px;
}

#logoImg{
	margin-top: 6px;
}

#navWebName{
	width: 112px;
	height: 50px;
}

#navLogin{
	position: relative;
	left: 588px;
	width: 56px;
	height: 50px;
}

#navRegister{
	position: relative;
	left: 612px;
	width: 56px;
	height: 50px;
}


.clear{
	clear: both;
}

#navHome{
	width: 100px;
	height: 50px;
}

#navChat{
	position: relative;
	left: 30px;
	width: 82px;
	height: 50px;
}

.navS2A{
	width: 80px;
	height: 40px;
	margin-top: 5px;
	line-height: 40px;
	background-color: black;
	border-radius: 10px;
}

#navSearchText{
	position: relative;
	left: 70px;
	width: 620px;
	height: 50px;
}

#inputSearch{
	margin-top: 8px;
	width: 620px;
	height: 30px;
	font-weight: bold;
	font-size: 20px;
}

#navSearchIcon{
	position: relative;
	left: 85px;
	width: 46px;
	height: 50px;
}

/* Web's Section */
.section{
	height: 900px;
	border-style: solid;
	border-width: 1px;
}


#editBar{
	width: 920px;
	height: 40px;
	position: relative;
	top: 20px;
}

#releaseBtn{
	width: 90px;
	height: 30px;
	font-weight: bold;
	font-size: 14px;
	color: white;
	background-color: #0000CC;
	float: left;
	position: relative;
	top: 5px;
}

img{
	float: left;
	position: relative;
	left: 610px;
}

#imgPencil{
	left: 610px;
}

#imgFont{
	left: 650px;
}

#imgImage{
	left: 700px;
}

#select{
	width: 920px;
	height: 40px;
	line-height: 40px;
	position: relative;
	top: 30px;
}

#selectWord,
#selectForm{
	float: left;
	font-weight: bold;
	font-size: 16px;
}

#articleT{
	position: relative;
	top: 40px;
}

#selectWord,
#selectForm{
	float: left;
	font-weight: bold;
	font-size: 16px;
	position: relative;
	top: 15px;
}

#articleC{
	position: relative;
	top: 50px;
}


#articleTitle{
	width: 920px;
	height: 50px;
}

#articleContent{
	width: 920px;
	height: 655px;
}


/* Web's Footer*/
.footer{
	height: 50px;
	background-color: black;
	color: white;
	font-size: 16px;
	line-height: 50px;
}

